<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/main.css">


    <title>Document</title>
</head>
<body>

    <nav>
        <ul>

            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a  class="nav-link"href="/works">Works</a>
            <a  class="nav-link"href="/gallery">Gallery</a>
        </ul>

    </nav>

    <div class="container">

        <div class="card-container about">

                <img src="public/img/the rock.jpg" alt="Dwayne Johnson">
                
                <h1>Dwayne Johnson</h1>

            

            <p class="p-about">

                Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American actor, businessman, and former professional wrestler.Widely regarded as one of the greatest professional wrestlers of all time, he wrestled for WWE for eight years prior to pursuing an acting career. His films have grossed over $3.5 billion in North America and over $10.5 billion worldwide,[10] making him one of the world's highest-grossing and highest-paid actors.

            </p>

        </div>

    </div>
    
</body>
</html>