<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/main.css">
    <title>Document</title>

</head>

<body>

    <nav>
        <ul>

            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a  class="nav-link"href="/works">Works</a>
            <a  class="nav-link"href="/gallery">Gallery</a>
        </ul>

    </nav>
    
    <div class="container">

        <h1 class="h1-g">Gallery</h1>

        <div class="gallery-container gallery-container-top">

                <div class="card-container">
                    <img src="public/img/G.I._Joe_Retaliation.jpg" alt="Movie">
                    <h1>G.I. Joe: Retaliation</h1>
                </div>

                <div class="card-container">
                    <img src="public/img/Fast_Five_poster.jpg" alt="Movie">
                    <h1>Fast & Furious 6</h1>
                </div>

                <div class="card-container">
                    <img src="public/img/Empire_state_--_dvd_cover.jpg" alt="Movie">
                    <h1>Empire State</h1>
                </div>

                

        </div>
        
        <div class="gallery-container ">

            <div class="card-container">
                <img src="public/img/The_Mummy_Returns_poster.jpg" alt="Movie">
                <h1> The Mummy Returns </h1>
            </div>

            <div class="card-container">
                <img src="public/img/Fast_Five_poster.jpg" alt="Movie">
                <h1> Baywatch </h1>
            </div>

            <div class="card-container">
                <img src="public/img/JumanjiTheNextLevelTeaserPoster.jpg" alt="Movie">
                <h1>Jumanji: The Next Level</h1>
            </div>

                

        </div>

    </div>    

</body>
</html>