<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/main.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>

            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a  class="nav-link"href="/works">Works</a>
            <a  class="nav-link"href="/gallery">Gallery</a>
        </ul>

    </nav>
    

    <div class="container container-work">

            <h1 class="h1-work">Work</h1>

            <p class="p-work">

                Johnson's first big box office success came in 2011, portraying Luke Hobbs in Fast Five (2011), the film becomes the seventh highest-grossing film of 2011. He became known for reinvigorating film franchises after portraying Marvin F. Hinton / Roadblock in G.I. Joe: Retaliation and reprising his role as Luke Hobbs in Fast & Furious 6 (2013), while also starring in true-story films Pain & Gain (2013) and Empire State (2013). 
            </p>

            <p class="p-work">
                That same year, he hosted and produced the TNT reality competition series The Hero, and won the Favorite Male Buttkicker Award at the 2013 Nickelodeon Kid's Choice Awards. In May 2013, it was announced that he would executive produce and star in Ballers, an HBO comedy-drama series about NFL players living in Miami. By December of that year, Forbes named him the top-grossing actor of 2013, with his films bringing in $1.3 billion worldwide for the year. Forbes credited the success of Fast & Furious 6, which grossed $789 million globally, and his frequent acting work as primary reasons for topping the list.

            </p>

        <div class="gallery-container">    

            <div class="card-container">
                <img src="public/img/G.I._Joe_Retaliation.jpg" alt="Movie">
                <h1>G.I. Joe: Retaliation</h1>
            </div>

            <div class="card-container">
                <img src="public/img/Fast_Five_poster.jpg" alt="Movie">
                <h1>Fast & Furious 6</h1>
            </div>

            <div class="card-container">
                <img src="/public/img/Empire_state_--_dvd_cover.jpg" alt="Movie">
                <h1>Empire State</h1>
            </div>

        </div>    


    </div>

</body>
</html>